
.icon-account:before { content: '\e800'; } /* '' */
.icon-address:before { content: '\e801'; } /* '' */
.icon-announcement:before { content: '\e802'; } /* '' */
.icon-answer_best:before { content: '\e803'; } /* '' */
.icon-answer_private:before { content: '\e804'; } /* '' */
.icon-answer_public:before { content: '\e805'; } /* '' */
.icon-approval:before { content: '\e806'; } /* '' */
.icon-apps_admin:before { content: '\e807'; } /* '' */
.icon-apps:before { content: '\e808'; } /* '' */
.icon-article:before { content: '\e809'; } /* '' */
.icon-assigned_resource:before { content: '\e80a'; } /* '' */
.icon-avatar_loading:before { content: '\e80b'; } /* '' */
.icon-avatar:before { content: '\e80c'; } /* '' */
.icon-calibration:before { content: '\e80d'; } /* '' */
.icon-call_history:before { content: '\e80e'; } /* '' */
.icon-call:before { content: '\e80f'; } /* '' */
.icon-campaign_members:before { content: '\e810'; } /* '' */
.icon-campaign:before { content: '\e811'; } /* '' */
.icon-canvas:before { content: '\e812'; } /* '' */
.icon-carousel:before { content: '\e813'; } /* '' */
.icon-case_change_status:before { content: '\e814'; } /* '' */
.icon-case_comment:before { content: '\e815'; } /* '' */
.icon-case_email:before { content: '\e816'; } /* '' */
.icon-case_log_a_call:before { content: '\e817'; } /* '' */
.icon-case_transcript:before { content: '\e818'; } /* '' */
.icon-case:before { content: '\e819'; } /* '' */
.icon-client:before { content: '\e81a'; } /* '' */
.icon-coaching:before { content: '\e81b'; } /* '' */
.icon-connected_apps:before { content: '\e81c'; } /* '' */
.icon-contact:before { content: '\e81d'; } /* '' */
.icon-contract:before { content: '\e81e'; } /* '' */
.icon-custom_notification:before { content: '\e81f'; } /* '' */
.icon-custom:before { content: '\e820'; } /* '' */
.icon-dashboard:before { content: '\e821'; } /* '' */
.icon-datadotcom:before { content: '\e822'; } /* '' */
.icon-default:before { content: '\e823'; } /* '' */
.icon-document:before { content: '\e824'; } /* '' */
.icon-drafts:before { content: '\e825'; } /* '' */
.icon-email_chatter:before { content: '\e826'; } /* '' */
.icon-email:before { content: '\e827'; } /* '' */
.icon-empty:before { content: '\e828'; } /* '' */
.icon-endorsement:before { content: '\e829'; } /* '' */
.icon-environment_hub:before { content: '\e82a'; } /* '' */
.icon-event:before { content: '\e82b'; } /* '' */
.icon-feed:before { content: '\e82c'; } /* '' */
.icon-feedback:before { content: '\e82d'; } /* '' */
.icon-file:before { content: '\e82e'; } /* '' */
.icon-flow:before { content: '\e82f'; } /* '' */
.icon-folder:before { content: '\e830'; } /* '' */
.icon-forecasts:before { content: '\e831'; } /* '' */
.icon-generic_loading:before { content: '\e832'; } /* '' */
.icon-goals:before { content: '\e833'; } /* '' */
.icon-group_loading:before { content: '\e834'; } /* '' */
.icon-groups:before { content: '\e835'; } /* '' */
.icon-hierarchy:before { content: '\e836'; } /* '' */
.icon-home:before { content: '\e837'; } /* '' */
.icon-household:before { content: '\e838'; } /* '' */
.icon-insights:before { content: '\e839'; } /* '' */
.icon-investment_account:before { content: '\e83a'; } /* '' */
.icon-lead:before { content: '\e83b'; } /* '' */
.icon-link:before { content: '\e83c'; } /* '' */
.icon-location:before { content: '\e83d'; } /* '' */
.icon-log_a_call:before { content: '\e83e'; } /* '' */
.icon-marketing_actions:before { content: '\e83f'; } /* '' */
.icon-merge:before { content: '\e840'; } /* '' */
.icon-metrics:before { content: '\e841'; } /* '' */
.icon-news:before { content: '\e842'; } /* '' */
.icon-note:before { content: '\e843'; } /* '' */
.icon-operating_hours:before { content: '\e844'; } /* '' */
.icon-opportunity:before { content: '\e845'; } /* '' */
.icon-orders:before { content: '\e846'; } /* '' */
.icon-people:before { content: '\e847'; } /* '' */
.icon-performance:before { content: '\e848'; } /* '' */
.icon-person_account:before { content: '\e849'; } /* '' */
.icon-photo:before { content: '\e84a'; } /* '' */
.icon-poll:before { content: '\e84b'; } /* '' */
.icon-portal:before { content: '\e84c'; } /* '' */
.icon-post:before { content: '\e84d'; } /* '' */
.icon-pricebook:before { content: '\e84e'; } /* '' */
.icon-process:before { content: '\e84f'; } /* '' */
.icon-product_consumed:before { content: '\e850'; } /* '' */
.icon-product_item_transaction:before { content: '\e851'; } /* '' */
.icon-product_item:before { content: '\e852'; } /* '' */
.icon-product_required:before { content: '\e853'; } /* '' */
.icon-product_transfer:before { content: '\e854'; } /* '' */
.icon-product:before { content: '\e855'; } /* '' */
.icon-question_best:before { content: '\e856'; } /* '' */
.icon-question_feed:before { content: '\e857'; } /* '' */
.icon-quotes:before { content: '\e858'; } /* '' */
.icon-recent:before { content: '\e859'; } /* '' */
.icon-record:before { content: '\e85a'; } /* '' */
.icon-related_list:before { content: '\e85b'; } /* '' */
.icon-relationship:before { content: '\e85c'; } /* '' */
.icon-report:before { content: '\e85d'; } /* '' */
.icon-resource_absence:before { content: '\e85e'; } /* '' */
.icon-resource_capacity:before { content: '\e85f'; } /* '' */
.icon-resource_preference:before { content: '\e860'; } /* '' */
.icon-resource_skill:before { content: '\e861'; } /* '' */
.icon-reward:before { content: '\e862'; } /* '' */
.icon-rtc_presence:before { content: '\e863'; } /* '' */
.icon-sales_path:before { content: '\e864'; } /* '' */
.icon-scan_card:before { content: '\e865'; } /* '' */
.icon-service_appointment:before { content: '\e866'; } /* '' */
.icon-service_contract:before { content: '\e867'; } /* '' */
.icon-service_report:before { content: '\e868'; } /* '' */
.icon-service_resource:before { content: '\e869'; } /* '' */
.icon-service_territory_member:before { content: '\e86a'; } /* '' */
.icon-service_territory:before { content: '\e86b'; } /* '' */
.icon-skill_entity:before { content: '\e86c'; } /* '' */
.icon-skill_requirement:before { content: '\e86d'; } /* '' */
.icon-skill:before { content: '\e86e'; } /* '' */
.icon-social:before { content: '\e86f'; } /* '' */
.icon-solution:before { content: '\e870'; } /* '' */
.icon-sossession:before { content: '\e871'; } /* '' */
.icon-task:before { content: '\e872'; } /* '' */
.icon-task2:before { content: '\e873'; } /* '' */
.icon-team_member:before { content: '\e874'; } /* '' */
.icon-thanks_loading:before { content: '\e875'; } /* '' */
.icon-thanks:before { content: '\e876'; } /* '' */
.icon-timeslot:before { content: '\e877'; } /* '' */
.icon-today:before { content: '\e878'; } /* '' */
.icon-topic:before { content: '\e879'; } /* '' */
.icon-unmatched:before { content: '\e87a'; } /* '' */
.icon-user:before { content: '\e87b'; } /* '' */
.icon-work_order_item:before { content: '\e87c'; } /* '' */
.icon-work_order:before { content: '\e87d'; } /* '' */
.icon-work_type:before { content: '\e87e'; } /* '' */