
.icon-add_contact:before { content: '\e800'; } /* '' */
.icon-add_relationship:before { content: '\e801'; } /* '' */
.icon-announcement:before { content: '\e802'; } /* '' */
.icon-apex:before { content: '\e803'; } /* '' */
.icon-approval:before { content: '\e804'; } /* '' */
.icon-back:before { content: '\e805'; } /* '' */
.icon-call:before { content: '\e806'; } /* '' */
.icon-canvas:before { content: '\e807'; } /* '' */
.icon-change_owner:before { content: '\e808'; } /* '' */
.icon-change_record_type:before { content: '\e809'; } /* '' */
.icon-check:before { content: '\e80a'; } /* '' */
.icon-clone:before { content: '\e80b'; } /* '' */
.icon-close:before { content: '\e80c'; } /* '' */
.icon-defer:before { content: '\e80d'; } /* '' */
.icon-delete:before { content: '\e80e'; } /* '' */
.icon-description:before { content: '\e80f'; } /* '' */
.icon-dial_in:before { content: '\e810'; } /* '' */
.icon-download:before { content: '\e811'; } /* '' */
.icon-edit_groups:before { content: '\e812'; } /* '' */
.icon-edit_relationship:before { content: '\e813'; } /* '' */
.icon-edit:before { content: '\e814'; } /* '' */
.icon-email:before { content: '\e815'; } /* '' */
.icon-fallback:before { content: '\e816'; } /* '' */
.icon-filter:before { content: '\e817'; } /* '' */
.icon-flow:before { content: '\e818'; } /* '' */
.icon-follow:before { content: '\e819'; } /* '' */
.icon-following:before { content: '\e81a'; } /* '' */
.icon-freeze_user:before { content: '\e81b'; } /* '' */
.icon-goal:before { content: '\e81c'; } /* '' */
.icon-google_news:before { content: '\e81d'; } /* '' */
.icon-info:before { content: '\e81e'; } /* '' */
.icon-join_group:before { content: '\e81f'; } /* '' */
.icon-lead_convert:before { content: '\e820'; } /* '' */
.icon-leave_group:before { content: '\e821'; } /* '' */
.icon-log_a_call:before { content: '\e822'; } /* '' */
.icon-log_event:before { content: '\e823'; } /* '' */
.icon-manage_perm_sets:before { content: '\e824'; } /* '' */
.icon-map:before { content: '\e825'; } /* '' */
.icon-more:before { content: '\e826'; } /* '' */
.icon-new_account:before { content: '\e827'; } /* '' */
.icon-new_campaign:before { content: '\e828'; } /* '' */
.icon-new_case:before { content: '\e829'; } /* '' */
.icon-new_child_case:before { content: '\e82a'; } /* '' */
.icon-new_contact:before { content: '\e82b'; } /* '' */
.icon-new_custom1:before { content: '\e82c'; } /* '' */
.icon-new_custom2:before { content: '\e82d'; } /* '' */
.icon-new_custom3:before { content: '\e82e'; } /* '' */
.icon-new_custom4:before { content: '\e82f'; } /* '' */
.icon-new_custom5:before { content: '\e830'; } /* '' */
.icon-new_custom6:before { content: '\e831'; } /* '' */
.icon-new_custom7:before { content: '\e832'; } /* '' */
.icon-new_custom8:before { content: '\e833'; } /* '' */
.icon-new_custom9:before { content: '\e834'; } /* '' */
.icon-new_custom10:before { content: '\e835'; } /* '' */
.icon-new_custom11:before { content: '\e836'; } /* '' */
.icon-new_custom12:before { content: '\e837'; } /* '' */
.icon-new_custom13:before { content: '\e838'; } /* '' */
.icon-new_custom14:before { content: '\e839'; } /* '' */
.icon-new_custom15:before { content: '\e83a'; } /* '' */
.icon-new_custom16:before { content: '\e83b'; } /* '' */
.icon-new_custom17:before { content: '\e83c'; } /* '' */
.icon-new_custom18:before { content: '\e83d'; } /* '' */
.icon-new_custom19:before { content: '\e83e'; } /* '' */
.icon-new_custom20:before { content: '\e83f'; } /* '' */
.icon-new_custom21:before { content: '\e840'; } /* '' */
.icon-new_custom22:before { content: '\e841'; } /* '' */
.icon-new_custom23:before { content: '\e842'; } /* '' */
.icon-new_custom24:before { content: '\e843'; } /* '' */
.icon-new_custom25:before { content: '\e844'; } /* '' */
.icon-new_custom26:before { content: '\e845'; } /* '' */
.icon-new_custom27:before { content: '\e846'; } /* '' */
.icon-new_custom28:before { content: '\e847'; } /* '' */
.icon-new_custom29:before { content: '\e848'; } /* '' */
.icon-new_custom30:before { content: '\e849'; } /* '' */
.icon-new_custom31:before { content: '\e84a'; } /* '' */
.icon-new_custom32:before { content: '\e84b'; } /* '' */
.icon-new_custom33:before { content: '\e84c'; } /* '' */
.icon-new_custom34:before { content: '\e84d'; } /* '' */
.icon-new_custom35:before { content: '\e84e'; } /* '' */
.icon-new_custom36:before { content: '\e84f'; } /* '' */
.icon-new_custom37:before { content: '\e850'; } /* '' */
.icon-new_custom38:before { content: '\e851'; } /* '' */
.icon-new_custom39:before { content: '\e852'; } /* '' */
.icon-new_custom40:before { content: '\e853'; } /* '' */
.icon-new_custom41:before { content: '\e854'; } /* '' */
.icon-new_custom42:before { content: '\e855'; } /* '' */
.icon-new_custom43:before { content: '\e856'; } /* '' */
.icon-new_custom44:before { content: '\e857'; } /* '' */
.icon-new_custom45:before { content: '\e858'; } /* '' */
.icon-new_custom46:before { content: '\e859'; } /* '' */
.icon-new_custom47:before { content: '\e85a'; } /* '' */
.icon-new_custom48:before { content: '\e85b'; } /* '' */
.icon-new_custom49:before { content: '\e85c'; } /* '' */
.icon-new_custom50:before { content: '\e85d'; } /* '' */
.icon-new_custom51:before { content: '\e85e'; } /* '' */
.icon-new_custom52:before { content: '\e85f'; } /* '' */
.icon-new_custom53:before { content: '\e860'; } /* '' */
.icon-new_custom54:before { content: '\e861'; } /* '' */
.icon-new_custom55:before { content: '\e862'; } /* '' */
.icon-new_custom56:before { content: '\e863'; } /* '' */
.icon-new_custom57:before { content: '\e864'; } /* '' */
.icon-new_custom58:before { content: '\e865'; } /* '' */
.icon-new_custom59:before { content: '\e866'; } /* '' */
.icon-new_custom60:before { content: '\e867'; } /* '' */
.icon-new_custom61:before { content: '\e868'; } /* '' */
.icon-new_custom62:before { content: '\e869'; } /* '' */
.icon-new_custom63:before { content: '\e86a'; } /* '' */
.icon-new_custom64:before { content: '\e86b'; } /* '' */
.icon-new_custom65:before { content: '\e86c'; } /* '' */
.icon-new_custom66:before { content: '\e86d'; } /* '' */
.icon-new_custom67:before { content: '\e86e'; } /* '' */
.icon-new_custom68:before { content: '\e86f'; } /* '' */
.icon-new_custom69:before { content: '\e870'; } /* '' */
.icon-new_custom70:before { content: '\e871'; } /* '' */
.icon-new_custom71:before { content: '\e872'; } /* '' */
.icon-new_custom72:before { content: '\e873'; } /* '' */
.icon-new_custom73:before { content: '\e874'; } /* '' */
.icon-new_custom74:before { content: '\e875'; } /* '' */
.icon-new_custom75:before { content: '\e876'; } /* '' */
.icon-new_custom76:before { content: '\e877'; } /* '' */
.icon-new_custom77:before { content: '\e878'; } /* '' */
.icon-new_custom78:before { content: '\e879'; } /* '' */
.icon-new_custom79:before { content: '\e87a'; } /* '' */
.icon-new_custom80:before { content: '\e87b'; } /* '' */
.icon-new_custom81:before { content: '\e87c'; } /* '' */
.icon-new_custom82:before { content: '\e87d'; } /* '' */
.icon-new_custom83:before { content: '\e87e'; } /* '' */
.icon-new_custom84:before { content: '\e87f'; } /* '' */
.icon-new_custom85:before { content: '\e880'; } /* '' */
.icon-new_custom86:before { content: '\e881'; } /* '' */
.icon-new_custom87:before { content: '\e882'; } /* '' */
.icon-new_custom88:before { content: '\e883'; } /* '' */
.icon-new_custom89:before { content: '\e884'; } /* '' */
.icon-new_custom90:before { content: '\e885'; } /* '' */
.icon-new_custom91:before { content: '\e886'; } /* '' */
.icon-new_custom92:before { content: '\e887'; } /* '' */
.icon-new_custom93:before { content: '\e888'; } /* '' */
.icon-new_custom94:before { content: '\e889'; } /* '' */
.icon-new_custom95:before { content: '\e88a'; } /* '' */
.icon-new_custom96:before { content: '\e88b'; } /* '' */
.icon-new_custom97:before { content: '\e88c'; } /* '' */
.icon-new_custom98:before { content: '\e88d'; } /* '' */
.icon-new_custom99:before { content: '\e88e'; } /* '' */
.icon-new_custom100:before { content: '\e88f'; } /* '' */
.icon-new_event:before { content: '\e890'; } /* '' */
.icon-new_group:before { content: '\e891'; } /* '' */
.icon-new_lead:before { content: '\e892'; } /* '' */
.icon-new_note:before { content: '\e893'; } /* '' */
.icon-new_notebook:before { content: '\e894'; } /* '' */
.icon-new_opportunity:before { content: '\e895'; } /* '' */
.icon-new_person_account:before { content: '\e896'; } /* '' */
.icon-new_task:before { content: '\e897'; } /* '' */
.icon-new:before { content: '\e898'; } /* '' */
.icon-password_unlock:before { content: '\e899'; } /* '' */
.icon-preview:before { content: '\e89a'; } /* '' */
.icon-priority:before { content: '\e89b'; } /* '' */
.icon-question_post_action:before { content: '\e89c'; } /* '' */
.icon-quote:before { content: '\e89d'; } /* '' */
.icon-record:before { content: '\e89e'; } /* '' */
.icon-refresh:before { content: '\e89f'; } /* '' */
.icon-reject:before { content: '\e8a0'; } /* '' */
.icon-remove_relationship:before { content: '\e8a1'; } /* '' */
.icon-remove:before { content: '\e8a2'; } /* '' */
.icon-reset_password:before { content: '\e8a3'; } /* '' */
.icon-share_file:before { content: '\e8a4'; } /* '' */
.icon-share_link:before { content: '\e8a5'; } /* '' */
.icon-share_poll:before { content: '\e8a6'; } /* '' */
.icon-share_post:before { content: '\e8a7'; } /* '' */
.icon-share_thanks:before { content: '\e8a8'; } /* '' */
.icon-share:before { content: '\e8a9'; } /* '' */
.icon-sort:before { content: '\e8aa'; } /* '' */
.icon-submit_for_approval:before { content: '\e8ab'; } /* '' */
.icon-update_status:before { content: '\e8ac'; } /* '' */
.icon-update:before { content: '\e8ad'; } /* '' */
.icon-upload:before { content: '\e8ae'; } /* '' */
.icon-user_activation:before { content: '\e8af'; } /* '' */
.icon-user:before { content: '\e8b0'; } /* '' */
.icon-view_relationship:before { content: '\e8b1'; } /* '' */
.icon-web_link:before { content: '\e8b2'; } /* '' */